:root{
    --dark-theme-bg: #000000;
    --dark-theme-text-color: #D2D3D4;
    --dark-theme-icon-color: #E7E9EA;
    --dark-theme-bold-text:#E7E9EA;
    --free-trial-btn-light:#272C30;
    --blue-color:#1D9BF0;
    --user-icon-bg:#6F4EA9;
    --username-color: #55585C;
    --light-theme-text-color:#44484D;
    --light-theme-search-bar-bg:#EFF3F4;
    --light-theme-placeholder-text-color:#5B6B78;
    --light-theme-nav-text-color:#363A3F;
    --light-theme-bg: #FFFFFF;
    --light-theme-icons: #0F1419;
    --post-btn-light: #272C30;
    --blod-black-color-lighttheme:#0F1419;
    --post-now-btn-light: rgb(135, 137,140);
   
}
body{
    font-family: "Archivo", serif;
    margin: 0;
    background-color: var(--light-theme-bg);
    user-select: none;
   
}

.container{
    /* padding: 20px; */
     display: grid;
     width: 100%;
    grid-template-columns: 250px 2fr 1fr;
    position: relative;
    height: 100vh;
    /* gap: 20px; */
    
    
} 

.left-nav-container{
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: auto;
    z-index: 1;
    padding: 15px;
    
}


.middle-feed-container{
    grid-column: 2;
    height: 100%;
    margin-left: 30px;
    padding: 15px;
    
}

.right-search-container{
    height: 100vh;
    grid-column: 3;
    height: 100%;
    padding: 15px;
}


/* styles for the light theme background */
.logo{
   margin-bottom: 20px; 
}

.active-nav.nav-text {
font-weight: bold;
font-size: 1.2rem;
}

.active-nav.material-symbols-outlined{
    font-weight: bold;
    font-size: 36px;
}

.icon-text{
    display: flex;
    align-items: center;
    padding: 12px 6px;
    justify-content: left;
}


.nav-text{
    color: var(--light-theme-nav-text-color);
    font-size: 1.2rem;
    margin: 0;
    padding-left: 15px;
    cursor: pointer;
}


span.nav-icons{
    font-size: 34px;
    color: var(--light-theme-icons);
    font-weight:500;
    
}

.post-btn{
    background-color: var(--post-btn-light);
    color: #FAFAFA;
    padding: 12px 6px;
    font-size: 1rem;
    text-align: center;
    width: 230px;
    border-radius: 35px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#btn-icon{
    display: none;
    font-size: 34px;
    font-weight:500;
}