:root{
    --dark-theme-bg: #000000;
    --dark-theme-text-color: #D2D3D4;
    --dark-theme-bold-text:#E7E9EA;
    --free-trial-btn-light:#272C30;
    --blue-color:#1D9BF0;
    --user-icon-bg:#6F4EA9;
    --username-color: #55585C;
    --light-theme-text-color:#44484D;
    --light-theme-search-bar-bg:#EFF3F4;
    --light-theme-placeholder-text-color:#5B6B78;
    --light-theme-bg: #FFFFFF;
    --post-btn-light: #272C30;
    --blod-black-color-lighttheme:#0F1419;
    --post-now-btn-light: rgb(135, 137,140);
   
}
body{
    font-family: "Archivo", serif;
    margin: 0;
}