:root{
    --dark-theme-bg: #000000;
    --dark-theme-text-color: #D2D3D4;
    --dark-theme-icon-color: #E7E9EA;
    --dark-theme-bold-text:#E7E9EA;
    --free-trial-btn-light:#272C30;
    --blue-color:#1D9BF0;
    --user-icon-bg:#6F4EA9;
    --username-color: #55585C;
    --light-theme-text-color:#44484D;
    --light-theme-search-bar-bg:#EFF3F4;
    --light-theme-placeholder-text-color:#5B6B78;
    --light-theme-nav-text-color:#363A3F;
    --light-theme-bg: #FFFFFF;
    --light-theme-icons: #0F1419;
    --post-btn-light: #272C30;
    --blod-black-color-lighttheme:#0F1419;
    --post-now-btn-light: rgb(135, 137,140);
   
}
body,html{
    font-family: "Archivo", serif;
    margin: 0;
    background-color: var(--light-theme-bg);
    user-select: none;
    scroll-behavior: smooth;
   
}
*{
    box-sizing: border-box;
}

*:focus{
    outline: none;
}
.container{
    /* padding: 20px; */
     display: grid;
     width:100%;
     margin: 0 auto;
     justify-content: center;
    grid-template-columns: 20% 80%;
    position: relative;
    height: 100vh;
    /* gap: 20px; */
    
    
} 

.left-nav-container{
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    margin: 0 auto;
    height: 100%;
    z-index: 1;
    padding: 25px;
   border-right: 1px solid #E7E7E8;
    
}

.logo{
    display: flex;
    align-items: center;
}

/* styles for the light theme background */
.logo{
   margin-bottom: 10px; 
}

.active-nav {
    font-weight:900;
    font-size: 2rem;
    }



 .icon-text{
    display: flex;
    align-items: center;
    padding: 12px 6px;
    justify-content: left;
    cursor: pointer;
   
}

.icon-text:hover{
    font-weight: bold;
}

.nav-text{
    color: var(--light-theme-nav-text-color);
    font-size: 1.2rem;
    margin: 0;
    padding-left: 15px;
    cursor: pointer;
}


span.nav-icons{
    font-size: 34px;
    color: var(--light-theme-icons);
    font-weight:500;
    
} 

.post-btn{
    background-color: var(--post-btn-light);
    color: #FAFAFA;
    padding: 12px 6px;
    font-size: 1rem;
    text-align: center;
    width: 230px;
    border-radius: 35px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#btn-icon{
    display: none;
    font-size: 34px;
    font-weight:500;
}

.avatar-container{
    justify-content:space-between;
    border-radius: 35px;
    margin-top: 10px;
}
.avatar-container:hover{
    background-color: var(--light-theme-search-bar-bg);
    
}
.user-avatar{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 8px;
    background-color: var(--user-icon-bg);
    color: var(--dark-theme-bold-text);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 8px;
}

.username{
    color: var(--light-theme-icons);
    font-weight: 600;
    font-size: 1.2rem;
}

.user-link{
    font-size: 1rem;
    color: #536471;
    font-weight: lighter;
}

.avata{
    display: flex;
    align-items: center;
}
/* styles for the middle feed page */

.middle-feed-container{
    grid-column: 2;
    height: auto;
    width: 100%;
   display: grid;
   grid-template-columns: 50% 25%;
    
}


.feed-container{
    width: 100%;
    padding: 20px;
}

.trending-container{
    background-color: #1D9BF0;
    width: 100%;
}

.top-text{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.feed-text{
    font-size: 1.2rem;
}

.active-feed{
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--blue-color);
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}
.top-searchbar{
    display: flex;
    justify-content: left;
    margin-top: 30px;
}
textarea{
    width: 512px;
    height: 120px;
    resize: none;
    border: none;
    background: var(--light-theme-bg);
    font-size: 1.5rem
}
::placeholder{
    color: var(--light-theme-placeholder-text-color);
    font-size: 1.5rem;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 600;
    
}
.button-textarea span{
    color: var(--blue-color);
    padding: 8px 8px;
    font-size: 30px;
    
}
small{
    color: var(--blue-color);
    font-size: 17px;
    display: none;
}

.post-now-btn{
    padding: 4px 16px;
    font-size: 19px;
    cursor: pointer;
    border:none;
    border-radius: 19px;
    background: rgb(135, 137, 140);
    color: var(--light-theme-bg);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
}

.post-now-btn:hover{
    background-color: var(--blue-color);
    color: var(--light-theme-bg);
}


.faded-color{
    color:#536471;
}
.icons{
    display: flex;
    justify-content: space-between;
}

.show-more-band{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    border-top: 1px solid #E7E7E8;
    border-bottom: 1px solid #E7E7E8;
    
}

.show-more-text{
    color: var(--blue-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}
#user-profile-pic{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#tweet-media{
    width: 516px;
    height: 404px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}